
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

.logo {
    width: 250px; /* Adjust width as needed */
    height: auto;
    margin-bottom: 20px; /* Add space between logo and form content */
}
